.main {
    text-align: center;
}
.basic-list {
    color: rgb(4, 177, 4);
    font-size: 16px;
}
.minor-list {
    color: #000;
}
.text {
    font-size: 20px;
    font-weight: bold;
}
.color {
    color: rgb(255, 0, 0);
}